[Desktop Entry]
Name=Spotipip
GenericName=Spotify PiP Lyrics
Comment=Testi sincronizzati per Spotify in overlay Picture-in-Picture
Exec=spotipip
Icon=spotipip
Terminal=false
Type=Application
Categories=AudioVideo;Audio;Player;
StartupWMClass=Spotipip